/* styling for invoice  */
/* Changing background color and aligning and sizing the text  */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color:white;
    color: black;
    text-align: center;
    font-size: 14px;
  }

  /* Changing header color invoice */
th {
    background-color:lightsteelblue;
  }
/* Centering invoice and adding color */
table {
    border-collapse: collapse;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    border: 2px solid lightsteelblue;
}
