/* store name */
#Plants { /* referenced code from chatgpt for a div using id plants from css, which is why all my files have id plants. i left it to save time but might go back and fix it */
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 5px;
    padding: 5px;
    margin-bottom: 60px;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black;
}
  
a:hover {
    text-decoration: none;
    color: lightsteelblue;
}
  
a:active {
    text-decoration: none;
    color: black;
}

/* Create an account hover */
.create a:hover {
    font-weight: bold;
    color: black;
}

/* Body styling */
body {
    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
}

/* Sign Up button */
#registerbutton {
    margin-left: auto;
    margin-right: auto;
}


